<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeCRUD - <%- title %></title>
    <%- include('partials/scripts.ejs') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container py-4">
        <h2 class="font-weight-bold">List</h2>
        <hr>
        <table class="table table-hover text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Address</th>
                <th scope="col">Position</th>
                <th scope="col">Salary</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% for (let index = 0; index < persons.length; index++) { %>
                <tr>
                  <td><%- persons[index].first_name %></td>
                  <td><%- persons[index].last_name %></td>
                  <td><%- persons[index].address %></td>
                  <td><%- persons[index].position %></td>
                  <td><%- persons[index].salary %></td>
                  <td>
                    <a href="/details/<%- persons[index].id %>">Details</a>
                    <a href="/edit/<%- persons[index].id %>" class="mx-2">Edit</a>
                    <a href="/delete/<%- persons[index].id %>">Delete</a>
                  </td>
                </tr>  
              <% }; %>
            </tbody>
          </table>
          <% if (persons.length < 1) { %>
            <h3 class="text-center display-4 font-italic">No records.</h3>
          <% }; %>
    </div>
</body>
</html>